/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header { 
    text-align: center;
}
a {
    color: #410099;
    text-decoration: none;
}

.body { 
    justify-content: center;
    padding: 10px;
    border: 5px solid #410099;
    /* border-radius: 75px; */
    padding: 50px;
    margin: 20px;
}
.header {
    padding: 20px;
    text-align: center;
    background: #410099;
    color: white;
    font-size: 50px;
    margin: auto;
    width: 50%;
    justify-content: center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #410099;
    color: white;
    text-align: center;
    padding: 20px;
    
 }
 .login { 
margin: 0;
padding: 10px;
background: #410099 ;
width: 300px;
padding: 40;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.login h2 { 
    color: white;
    text-transform: uppercase;
}

.box-input input { 
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    color: white;
    align-items: center;
    transition: 0.25s;
}
.box-input input:focus { 
    width: 280px;
    border-color: #2ecc71;
}
.actions input{ 
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    border-radius: 24px;
    color: white;
    align-items: center;
    transition: 0.25s;
}
.actions input:hover{ 
    background: #2ecc71;
}
.remember { 
    color: white;
}