<h1><%= @review.title%></h1>
<br />
<body><%= @review.content%></body>

<br />
<%= button_to "Edit review", edit_review_path%>
<br />
<%= button_to "Delete Review", review_path(@review), method: :delete %> 